<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.community.dao.mapper.ContentMapper">

    <sql id="columns">
        id,user_id,title,contents,latitude,longitude,type,biz_id,biz_child_id,status,top,img_num,comment_num,view_num,like_num,favorite_num,follow_num,tag_id,tag_extend,is_delete,create_user_id,create_time,update_user_id,update_time,sys_version
    </sql>

    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO content (
        user_id,
        title,
        contents,
        latitude,
        longitude,
        type,
        biz_id,
        biz_child_id,
        status,
        top,
        img_num,
        comment_num,
        view_num,
        like_num,
        favorite_num,
        follow_num,
        tag_id,
        tag_extend,
        is_delete,
        create_user_id,
        create_time,
        update_user_id,
        update_time,
        sys_version
        ) VALUES (
        #{userId},
        #{title},
        #{contents},
        #{latitude},
        #{longitude},
        #{type},
        #{bizId},
        #{bizChildId},
        #{status},
        #{top},
        #{imgNum},
        #{commentNum},
        #{viewNum},
        #{likeNum},
        #{favoriteNum},
        #{followNum},
        #{tagId},
        #{tagExtend},
        0,
        #{createUserId},
        now(),
        #{updateUserId},
        now(),
        1
        )
    </insert>

    <insert id="insertSelective" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO content (
        <if test="@Ognl@isNotEmpty(userId)">
            user_id,
        </if>
        <if test="@Ognl@isNotEmpty(title)">
            title,
        </if>
        <if test="@Ognl@isNotEmpty(contents)">
            contents,
        </if>
        <if test="@Ognl@isNotEmpty(latitude)">
            latitude,
        </if>
        <if test="@Ognl@isNotEmpty(longitude)">
            longitude,
        </if>
        <if test="@Ognl@isNotEmpty(type)">
            type,
        </if>
        <if test="@Ognl@isNotEmpty(bizId)">
            biz_id,
        </if>
        <if test="@Ognl@isNotEmpty(bizChildId)">
            biz_child_id,
        </if>
        <if test="@Ognl@isNotEmpty(status)">
            status,
        </if>
        <if test="@Ognl@isNotEmpty(top)">
            top,
        </if>
        <if test="@Ognl@isNotEmpty(imgNum)">
            img_num,
        </if>
        <if test="@Ognl@isNotEmpty(commentNum)">
            comment_num,
        </if>
        <if test="@Ognl@isNotEmpty(viewNum)">
            view_num,
        </if>
        <if test="@Ognl@isNotEmpty(likeNum)">
            like_num,
        </if>
        <if test="@Ognl@isNotEmpty(favoriteNum)">
            favorite_num,
        </if>
        <if test="@Ognl@isNotEmpty(followNum)">
            follow_num,
        </if>
        <if test="@Ognl@isNotEmpty(tagId)">
            tag_id,
        </if>
        <if test="@Ognl@isNotEmpty(tagExtend)">
            tag_extend,
        </if>
        is_delete,
        <if test="@Ognl@isNotEmpty(createUserId)">
            create_user_id,
        </if>
        create_time,
        <if test="@Ognl@isNotEmpty(updateUserId)">
            update_user_id,
        </if>
        <if test="@Ognl@isNotEmpty(updateTime)">
            update_time,
        </if>
        sys_version
        ) VALUES (
        <if test="@Ognl@isNotEmpty(userId)">
            #{userId},
        </if>
        <if test="@Ognl@isNotEmpty(title)">
            #{title},
        </if>
        <if test="@Ognl@isNotEmpty(contents)">
            #{contents},
        </if>
        <if test="@Ognl@isNotEmpty(latitude)">
            #{latitude},
        </if>
        <if test="@Ognl@isNotEmpty(longitude)">
            #{longitude},
        </if>
        <if test="@Ognl@isNotEmpty(type)">
            #{type},
        </if>
        <if test="@Ognl@isNotEmpty(bizId)">
            #{bizId},
        </if>
        <if test="@Ognl@isNotEmpty(bizChildId)">
            #{bizChildId},
        </if>
        <if test="@Ognl@isNotEmpty(status)">
            #{status},
        </if>
        <if test="@Ognl@isNotEmpty(top)">
            #{top},
        </if>
        <if test="@Ognl@isNotEmpty(imgNum)">
            #{imgNum},
        </if>
        <if test="@Ognl@isNotEmpty(commentNum)">
            #{commentNum},
        </if>
        <if test="@Ognl@isNotEmpty(viewNum)">
            #{viewNum},
        </if>
        <if test="@Ognl@isNotEmpty(likeNum)">
            #{likeNum},
        </if>
        <if test="@Ognl@isNotEmpty(favoriteNum)">
            #{favoriteNum},
        </if>
        <if test="@Ognl@isNotEmpty(followNum)">
            #{followNum},
        </if>
        <if test="@Ognl@isNotEmpty(tagId)">
            #{tagId},
        </if>
        <if test="@Ognl@isNotEmpty(tagExtend)">
            #{tagExtend},
        </if>
        0,
        <if test="@Ognl@isNotEmpty(createUserId)">
            #{createUserId},
        </if>
        now(),
        <if test="@Ognl@isNotEmpty(updateUserId)">
            #{updateUserId},
        </if>
        <if test="@Ognl@isNotEmpty(updateTime)">
            #{updateTime},
        </if>
        1
        )
    </insert>

    <update id="update">
        UPDATE content SET
        user_id = #{userId},
        title = #{title},
        contents = #{contents},
        latitude = #{latitude},
        longitude = #{longitude},
        type = #{type},
        biz_id = #{bizId},
        biz_child_id = #{bizChildId},
        status = #{status},
        top = #{top},
        img_num = #{imgNum},
        comment_num = #{commentNum},
        view_num = #{viewNum},
        like_num = #{likeNum},
        favorite_num = #{favoriteNum},
        follow_num = #{followNum},
        tag_id = #{tagId},
        tag_extend = #{tagExtend},
        is_delete = #{isDelete},
        create_user_id = #{createUserId},
        create_time = #{createTime},
        update_user_id = #{updateUserId},
        update_time = now(),
        sys_version = sys_version + 1
        WHERE
        id = #{id}
    </update>


    <update id="updateSelective">
        UPDATE content SET
        <if test="null != userId">
            user_id = #{userId},
        </if>
        <if test="null != title">
            title = #{title},
        </if>
        <if test="null != contents">
            contents = #{contents},
        </if>
        <if test="null != latitude">
            latitude = #{latitude},
        </if>
        <if test="null != longitude">
            longitude = #{longitude},
        </if>
        <if test="null != type">
            type = #{type},
        </if>
        <if test="null != bizId">
            biz_id = #{bizId},
        </if>
        <if test="null != bizChildId">
            biz_child_id = #{bizChildId},
        </if>
        <if test="null != status">
            status = #{status},
        </if>
        <if test="null != top">
            top = #{top},
        </if>
        <if test="null != imgNum">
            img_num = #{imgNum},
        </if>
        <if test="null != commentNum">
            comment_num = #{commentNum},
        </if>
        <if test="null != viewNum">
            view_num = #{viewNum},
        </if>
        <if test="null != likeNum">
            like_num = #{likeNum},
        </if>
        <if test="null != favoriteNum">
            favorite_num = #{favoriteNum},
        </if>
        <if test="null != followNum">
            follow_num = #{followNum},
        </if>
        <if test="null != tagId">
            tag_id = #{tagId},
        </if>
        <if test="null != tagExtend">
            tag_extend = #{tagExtend},
        </if>
        <if test="null != isDelete">
            is_delete = #{isDelete},
        </if>
        <if test="null != createUserId">
            create_user_id = #{createUserId},
        </if>
        <if test="null != createTime">
            create_time = #{createTime},
        </if>
        <if test="null != updateUserId">
            update_user_id = #{updateUserId},
        </if>
        update_time = now(),
        sys_version = sys_version + 1
        WHERE
        id = #{id}
    </update>

    <update id="updateByOptimisticLock">
        UPDATE content
        SET
        <if test="null != userId">
            user_id = #{userId},
        </if>
        <if test="null != title">
            title = #{title},
        </if>
        <if test="null != contents">
            contents = #{contents},
        </if>
        <if test="null != latitude">
            latitude = #{latitude},
        </if>
        <if test="null != longitude">
            longitude = #{longitude},
        </if>
        <if test="null != type">
            type = #{type},
        </if>
        <if test="null != bizId">
            biz_id = #{bizId},
        </if>
        <if test="null != bizChildId">
            biz_child_id = #{bizChildId},
        </if>
        <if test="null != status">
            status = #{status},
        </if>
        <if test="null != top">
            top = #{top},
        </if>
        <if test="null != imgNum">
            img_num = #{imgNum},
        </if>
        <if test="null != commentNum">
            comment_num = #{commentNum},
        </if>
        <if test="null != viewNum">
            view_num = #{viewNum},
        </if>
        <if test="null != likeNum">
            like_num = #{likeNum},
        </if>
        <if test="null != favoriteNum">
            favorite_num = #{favoriteNum},
        </if>
        <if test="null != followNum">
            follow_num = #{followNum},
        </if>
        <if test="null != tagId">
            tag_id = #{tagId},
        </if>
        <if test="null != tagExtend">
            tag_extend = #{tagExtend},
        </if>
        <if test="null != isDelete">
            is_delete = #{isDelete},
        </if>
        <if test="null != createUserId">
            create_user_id = #{createUserId},
        </if>
        <if test="null != createTime">
            create_time = #{createTime},
        </if>
        <if test="null != updateUserId">
            update_user_id = #{updateUserId},
        </if>
        update_time = now(),
        sys_version = sys_version + 1
        WHERE
        sys_version = #{sysVersion, jdbcType=INTEGER}
        AND id = #{id}
    </update>

    <delete id="delete">
        UPDATE content
        SET is_delete = 1
        <if test="@Ognl@isNotEmpty(updateAccount)">
            update_account = #{updateAccount} ,
        </if>
        <if test="@Ognl@isNotEmpty(updateName)">
            update_name = #{updateName} ,
        </if>
        update_time = now(),
        sys_version = sys_version + 1
        WHERE
        id IN
        <foreach collection="keys" item="keyTemp" open="(" separator="," close=")">
            #{keyTemp}
        </foreach>
    </delete>

    <delete id="deletePhysical">
        DELETE
        FROM content
        WHERE
        id = #{id}
    </delete>

    <select id="getByKey" resultType="ContentDO">
        SELECT
        <include refid="columns"/>
        FROM content
        WHERE
        id = #{id}
    </select>

    <select id="getByKeys" resultType="ContentDO">
        SELECT
        <include refid="columns"/>
        FROM content
        WHERE
        id IN
        <foreach collection="keys" item="keyTemp" open="(" separator="," close=")">
            #{keyTemp}
        </foreach>
    </select>

    <select id="listPage" resultType="ContentDO">
        SELECT
        <include refid="columns"/>
        FROM content
        <include refid="listPage_where"/>
        <trim prefix="order by" prefixOverrides=",">
            <if test="@Ognl@isNotEmpty(sortList)">
                <foreach collection="sortList" item="sortTemp" separator=",">
                    ${sortTemp.fieldName} ${sortTemp.sortOrder}
                </foreach>
            </if>
        </trim>
        <if test="pagination != null">
            limit #{pagination.startRow}, #{pagination.pageSize}
        </if>
    </select>

    <select id="listPageLimitCount" resultType="int">
        SELECT COUNT(1)
        FROM
        ( SELECT count(1)
        FROM content
        <include refid="listPage_where"/>
        <if test="pagination != null">
            limit #{pagination.startRow}, #{pagination.limitPageSize}
        </if>
        ) AS tagTemp
    </select>


    <select id="listPageCount" resultType="int">
        SELECT count(1)
        FROM content
        <include refid="listPage_where"/>
    </select>

    <sql id="listPage_where">
        <where>
            <if test="id != null">
                AND id = #{id}
            </if>
            <if test="userId != null">
                AND user_id = #{userId}
            </if>
            <if test="title != null">
                AND title = #{title}
            </if>
            <if test="contents != null">
                AND contents = #{contents}
            </if>
            <if test="latitude != null">
                AND latitude = #{latitude}
            </if>
            <if test="longitude != null">
                AND longitude = #{longitude}
            </if>
            <if test="type != null">
                AND type = #{type}
            </if>
            <if test="bizId != null">
                AND biz_id = #{bizId}
            </if>
            <if test="bizChildId != null">
                AND biz_child_id = #{bizChildId}
            </if>
            <if test="status != null">
                AND status = #{status}
            </if>
            <if test="top != null">
                AND top = #{top}
            </if>
            <if test="imgNum != null">
                AND img_num = #{imgNum}
            </if>
            <if test="commentNum != null">
                AND comment_num = #{commentNum}
            </if>
            <if test="viewNum != null">
                AND view_num = #{viewNum}
            </if>
            <if test="likeNum != null">
                AND like_num = #{likeNum}
            </if>
            <if test="favoriteNum != null">
                AND favorite_num = #{favoriteNum}
            </if>
            <if test="followNum != null">
                AND follow_num = #{followNum}
            </if>
            <if test="tagId != null">
                AND tag_id = #{tagId}
            </if>
            <if test="tagExtend != null">
                AND tag_extend = #{tagExtend}
            </if>
            <if test="isDelete != null">
                AND is_delete = #{isDelete}
            </if>
            <if test="createUserId != null">
                AND create_user_id = #{createUserId}
            </if>

            <if test="updateUserId != null">
                AND update_user_id = #{updateUserId}
            </if>

            <if test="sysVersion != null">
                AND sys_version = #{sysVersion}
            </if>
        </where>
    </sql>

</mapper>