<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.community.dao.mapper.GroupMessageDetailMapper">

    <sql id="columns">
        id,group_id,sender_user_id,at_info,type,is_anonymous,content,send_msg_time,is_delete,create_user_id,create_time,update_user_id,update_time,sys_version
    </sql>

    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO group_message_detail (
        group_id,
        sender_user_id,
        at_info,
        type,
        is_anonymous,
        content,
        send_msg_time,
        is_delete,
        create_user_id,
        create_time,
        update_user_id,
        update_time,
        sys_version
        ) VALUES (
        #{groupId},
        #{senderUserId},
        #{atInfo},
        #{type},
        #{isAnonymous},
        #{content},
        #{sendMsgTime},
        0,
        #{createUserId},
        now(),
        #{updateUserId},
        now(),
        1
        )
    </insert>

    <insert id="insertSelective" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO group_message_detail (
        <if test="@Ognl@isNotEmpty(groupId)">
            group_id,
        </if>
        <if test="@Ognl@isNotEmpty(senderUserId)">
            sender_user_id,
        </if>
        <if test="@Ognl@isNotEmpty(atInfo)">
            at_info,
        </if>
        <if test="@Ognl@isNotEmpty(type)">
            type,
        </if>
        <if test="@Ognl@isNotEmpty(isAnonymous)">
            is_anonymous,
        </if>
        <if test="@Ognl@isNotEmpty(content)">
            content,
        </if>
        <if test="@Ognl@isNotEmpty(sendMsgTime)">
            send_msg_time,
        </if>
        is_delete,
        <if test="@Ognl@isNotEmpty(createUserId)">
            create_user_id,
        </if>
        create_time,
        <if test="@Ognl@isNotEmpty(updateUserId)">
            update_user_id,
        </if>
        <if test="@Ognl@isNotEmpty(updateTime)">
            update_time,
        </if>
        sys_version
        ) VALUES (
        <if test="@Ognl@isNotEmpty(groupId)">
            #{groupId},
        </if>
        <if test="@Ognl@isNotEmpty(senderUserId)">
            #{senderUserId},
        </if>
        <if test="@Ognl@isNotEmpty(atInfo)">
            #{atInfo},
        </if>
        <if test="@Ognl@isNotEmpty(type)">
            #{type},
        </if>
        <if test="@Ognl@isNotEmpty(isAnonymous)">
            #{isAnonymous},
        </if>
        <if test="@Ognl@isNotEmpty(content)">
            #{content},
        </if>
        <if test="@Ognl@isNotEmpty(sendMsgTime)">
            #{sendMsgTime},
        </if>
        0,
        <if test="@Ognl@isNotEmpty(createUserId)">
            #{createUserId},
        </if>
        now(),
        <if test="@Ognl@isNotEmpty(updateUserId)">
            #{updateUserId},
        </if>
        <if test="@Ognl@isNotEmpty(updateTime)">
            #{updateTime},
        </if>
        1
        )
    </insert>

    <update id="update">
        UPDATE group_message_detail SET
        group_id = #{groupId},
        sender_user_id = #{senderUserId},
        at_info = #{atInfo},
        type = #{type},
        is_anonymous = #{isAnonymous},
        content = #{content},
        send_msg_time = #{sendMsgTime},
        is_delete = #{isDelete},
        create_user_id = #{createUserId},
        create_time = #{createTime},
        update_user_id = #{updateUserId},
        update_time = now(),
        sys_version = sys_version + 1
        WHERE
        id = #{id}
    </update>


    <update id="updateSelective">
        UPDATE group_message_detail SET
        <if test="null != groupId">
            group_id = #{groupId},
        </if>
        <if test="null != senderUserId">
            sender_user_id = #{senderUserId},
        </if>
        <if test="null != atInfo">
            at_info = #{atInfo},
        </if>
        <if test="null != type">
            type = #{type},
        </if>
        <if test="null != isAnonymous">
            is_anonymous = #{isAnonymous},
        </if>
        <if test="null != content">
            content = #{content},
        </if>
        <if test="null != sendMsgTime">
            send_msg_time = #{sendMsgTime},
        </if>
        <if test="null != isDelete">
            is_delete = #{isDelete},
        </if>
        <if test="null != createUserId">
            create_user_id = #{createUserId},
        </if>
        <if test="null != createTime">
            create_time = #{createTime},
        </if>
        <if test="null != updateUserId">
            update_user_id = #{updateUserId},
        </if>
        update_time = now(),
        sys_version = sys_version + 1
        WHERE
        id = #{id}
    </update>

    <update id="updateByOptimisticLock">
        UPDATE group_message_detail
        SET
        <if test="null != groupId">
            group_id = #{groupId},
        </if>
        <if test="null != senderUserId">
            sender_user_id = #{senderUserId},
        </if>
        <if test="null != atInfo">
            at_info = #{atInfo},
        </if>
        <if test="null != type">
            type = #{type},
        </if>
        <if test="null != isAnonymous">
            is_anonymous = #{isAnonymous},
        </if>
        <if test="null != content">
            content = #{content},
        </if>
        <if test="null != sendMsgTime">
            send_msg_time = #{sendMsgTime},
        </if>
        <if test="null != isDelete">
            is_delete = #{isDelete},
        </if>
        <if test="null != createUserId">
            create_user_id = #{createUserId},
        </if>
        <if test="null != createTime">
            create_time = #{createTime},
        </if>
        <if test="null != updateUserId">
            update_user_id = #{updateUserId},
        </if>
        update_time = now(),
        sys_version = sys_version + 1
        WHERE
        sys_version = #{sysVersion, jdbcType=INTEGER}
        AND id = #{id}
    </update>

    <delete id="delete">
        UPDATE group_message_detail
        SET is_delete = 1
        <if test="@Ognl@isNotEmpty(updateAccount)">
            update_account = #{updateAccount} ,
        </if>
        <if test="@Ognl@isNotEmpty(updateName)">
            update_name = #{updateName} ,
        </if>
        update_time = now(),
        sys_version = sys_version + 1
        WHERE
        id IN
        <foreach collection="keys" item="keyTemp" open="(" separator="," close=")">
            #{keyTemp}
        </foreach>
    </delete>

    <delete id="deletePhysical">
        DELETE
        FROM group_message_detail
        WHERE
        id = #{id}
    </delete>

    <select id="getByKey" resultType="GroupMessageDetailDO">
        SELECT
        <include refid="columns"/>
        FROM group_message_detail
        WHERE
        id = #{id}
    </select>

    <select id="getByKeys" resultType="GroupMessageDetailDO">
        SELECT
        <include refid="columns"/>
        FROM group_message_detail
        WHERE
        id IN
        <foreach collection="keys" item="keyTemp" open="(" separator="," close=")">
            #{keyTemp}
        </foreach>
    </select>

    <select id="listPage" resultType="GroupMessageDetailDO">
        SELECT
        <include refid="columns"/>
        FROM group_message_detail
        <include refid="listPage_where"/>
        <trim prefix="order by" prefixOverrides=",">
            <if test="@Ognl@isNotEmpty(sortList)">
                <foreach collection="sortList" item="sortTemp" separator=",">
                    ${sortTemp.fieldName} ${sortTemp.sortOrder}
                </foreach>
            </if>
        </trim>
        <if test="pagination != null">
            limit #{pagination.startRow}, #{pagination.pageSize}
        </if>
    </select>

    <select id="listPageLimitCount" resultType="int">
        SELECT COUNT(1)
        FROM
        ( SELECT count(1)
        FROM group_message_detail
        <include refid="listPage_where"/>
        <if test="pagination != null">
            limit #{pagination.startRow}, #{pagination.limitPageSize}
        </if>
        ) AS tagTemp
    </select>


    <select id="listPageCount" resultType="int">
        SELECT count(1)
        FROM group_message_detail
        <include refid="listPage_where"/>
    </select>

    <sql id="listPage_where">
        <where>
            <if test="id != null">
                AND id = #{id}
            </if>
            <if test="groupId != null">
                AND group_id = #{groupId}
            </if>
            <if test="senderUserId != null">
                AND sender_user_id = #{senderUserId}
            </if>
            <if test="atInfo != null">
                AND at_info = #{atInfo}
            </if>
            <if test="type != null">
                AND type = #{type}
            </if>
            <if test="isAnonymous != null">
                AND is_anonymous = #{isAnonymous}
            </if>
            <if test="content != null">
                AND content = #{content}
            </if>

            <if test="isDelete != null">
                AND is_delete = #{isDelete}
            </if>
            <if test="createUserId != null">
                AND create_user_id = #{createUserId}
            </if>

            <if test="updateUserId != null">
                AND update_user_id = #{updateUserId}
            </if>

            <if test="sysVersion != null">
                AND sys_version = #{sysVersion}
            </if>
        </where>
    </sql>

</mapper>