<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.community.dao.mapper.GroupInfoMapper">

    <sql id="columns">
        id,name,introduction,notice,img,originator_user_id,type,status,join_way,speak_permission,join_question,member_num,latitude,longitude,city_id,biz_id,member_num_limit,is_delete,create_user_id,create_time,update_user_id,update_time,sys_version
    </sql>

    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO group_info (
        name,
        introduction,
        notice,
        img,
        originator_user_id,
        type,
        status,
        join_way,
        speak_permission,
        join_question,
        member_num,
        latitude,
        longitude,
        city_id,
        biz_id,
        member_num_limit,
        is_delete,
        create_user_id,
        create_time,
        update_user_id,
        update_time,
        sys_version
        ) VALUES (
        #{name},
        #{introduction},
        #{notice},
        #{img},
        #{originatorUserId},
        #{type},
        #{status},
        #{joinWay},
        #{speakPermission},
        #{joinQuestion},
        #{memberNum},
        #{latitude},
        #{longitude},
        #{cityId},
        #{bizId},
        #{memberNumLimit},
        0,
        #{createUserId},
        now(),
        #{updateUserId},
        now(),
        1
        )
    </insert>

    <insert id="insertSelective" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO group_info (
        <if test="@Ognl@isNotEmpty(name)">
            name,
        </if>
        <if test="@Ognl@isNotEmpty(introduction)">
            introduction,
        </if>
        <if test="@Ognl@isNotEmpty(notice)">
            notice,
        </if>
        <if test="@Ognl@isNotEmpty(img)">
            img,
        </if>
        <if test="@Ognl@isNotEmpty(originatorUserId)">
            originator_user_id,
        </if>
        <if test="@Ognl@isNotEmpty(type)">
            type,
        </if>
        <if test="@Ognl@isNotEmpty(status)">
            status,
        </if>
        <if test="@Ognl@isNotEmpty(joinWay)">
            join_way,
        </if>
        <if test="@Ognl@isNotEmpty(speakPermission)">
            speak_permission,
        </if>
        <if test="@Ognl@isNotEmpty(joinQuestion)">
            join_question,
        </if>
        <if test="@Ognl@isNotEmpty(memberNum)">
            member_num,
        </if>
        <if test="@Ognl@isNotEmpty(latitude)">
            latitude,
        </if>
        <if test="@Ognl@isNotEmpty(longitude)">
            longitude,
        </if>
        <if test="@Ognl@isNotEmpty(cityId)">
            city_id,
        </if>
        <if test="@Ognl@isNotEmpty(bizId)">
            biz_id,
        </if>
        <if test="@Ognl@isNotEmpty(memberNumLimit)">
            member_num_limit,
        </if>
        is_delete,
        <if test="@Ognl@isNotEmpty(createUserId)">
            create_user_id,
        </if>
        create_time,
        <if test="@Ognl@isNotEmpty(updateUserId)">
            update_user_id,
        </if>
        <if test="@Ognl@isNotEmpty(updateTime)">
            update_time,
        </if>
        sys_version
        ) VALUES (
        <if test="@Ognl@isNotEmpty(name)">
            #{name},
        </if>
        <if test="@Ognl@isNotEmpty(introduction)">
            #{introduction},
        </if>
        <if test="@Ognl@isNotEmpty(notice)">
            #{notice},
        </if>
        <if test="@Ognl@isNotEmpty(img)">
            #{img},
        </if>
        <if test="@Ognl@isNotEmpty(originatorUserId)">
            #{originatorUserId},
        </if>
        <if test="@Ognl@isNotEmpty(type)">
            #{type},
        </if>
        <if test="@Ognl@isNotEmpty(status)">
            #{status},
        </if>
        <if test="@Ognl@isNotEmpty(joinWay)">
            #{joinWay},
        </if>
        <if test="@Ognl@isNotEmpty(speakPermission)">
            #{speakPermission},
        </if>
        <if test="@Ognl@isNotEmpty(joinQuestion)">
            #{joinQuestion},
        </if>
        <if test="@Ognl@isNotEmpty(memberNum)">
            #{memberNum},
        </if>
        <if test="@Ognl@isNotEmpty(latitude)">
            #{latitude},
        </if>
        <if test="@Ognl@isNotEmpty(longitude)">
            #{longitude},
        </if>
        <if test="@Ognl@isNotEmpty(cityId)">
            #{cityId},
        </if>
        <if test="@Ognl@isNotEmpty(bizId)">
            #{bizId},
        </if>
        <if test="@Ognl@isNotEmpty(memberNumLimit)">
            #{memberNumLimit},
        </if>
        0,
        <if test="@Ognl@isNotEmpty(createUserId)">
            #{createUserId},
        </if>
        now(),
        <if test="@Ognl@isNotEmpty(updateUserId)">
            #{updateUserId},
        </if>
        <if test="@Ognl@isNotEmpty(updateTime)">
            #{updateTime},
        </if>
        1
        )
    </insert>

    <update id="update">
        UPDATE group_info SET
        name = #{name},
        introduction = #{introduction},
        notice = #{notice},
        img = #{img},
        originator_user_id = #{originatorUserId},
        type = #{type},
        status = #{status},
        join_way = #{joinWay},
        speak_permission = #{speakPermission},
        join_question = #{joinQuestion},
        member_num = #{memberNum},
        latitude = #{latitude},
        longitude = #{longitude},
        city_id = #{cityId},
        biz_id = #{bizId},
        member_num_limit = #{memberNumLimit},
        is_delete = #{isDelete},
        create_user_id = #{createUserId},
        create_time = #{createTime},
        update_user_id = #{updateUserId},
        update_time = now(),
        sys_version = sys_version + 1
        WHERE
        id = #{id}
    </update>


    <update id="updateSelective">
        UPDATE group_info SET
        <if test="null != name">
            name = #{name},
        </if>
        <if test="null != introduction">
            introduction = #{introduction},
        </if>
        <if test="null != notice">
            notice = #{notice},
        </if>
        <if test="null != img">
            img = #{img},
        </if>
        <if test="null != originatorUserId">
            originator_user_id = #{originatorUserId},
        </if>
        <if test="null != type">
            type = #{type},
        </if>
        <if test="null != status">
            status = #{status},
        </if>
        <if test="null != joinWay">
            join_way = #{joinWay},
        </if>
        <if test="null != speakPermission">
            speak_permission = #{speakPermission},
        </if>
        <if test="null != joinQuestion">
            join_question = #{joinQuestion},
        </if>
        <if test="null != memberNum">
            member_num = #{memberNum},
        </if>
        <if test="null != latitude">
            latitude = #{latitude},
        </if>
        <if test="null != longitude">
            longitude = #{longitude},
        </if>
        <if test="null != cityId">
            city_id = #{cityId},
        </if>
        <if test="null != bizId">
            biz_id = #{bizId},
        </if>
        <if test="null != memberNumLimit">
            member_num_limit = #{memberNumLimit},
        </if>
        <if test="null != isDelete">
            is_delete = #{isDelete},
        </if>
        <if test="null != createUserId">
            create_user_id = #{createUserId},
        </if>
        <if test="null != createTime">
            create_time = #{createTime},
        </if>
        <if test="null != updateUserId">
            update_user_id = #{updateUserId},
        </if>
        update_time = now(),
        sys_version = sys_version + 1
        WHERE
        id = #{id}
    </update>

    <update id="updateByOptimisticLock">
        UPDATE group_info
        SET
        <if test="null != name">
            name = #{name},
        </if>
        <if test="null != introduction">
            introduction = #{introduction},
        </if>
        <if test="null != notice">
            notice = #{notice},
        </if>
        <if test="null != img">
            img = #{img},
        </if>
        <if test="null != originatorUserId">
            originator_user_id = #{originatorUserId},
        </if>
        <if test="null != type">
            type = #{type},
        </if>
        <if test="null != status">
            status = #{status},
        </if>
        <if test="null != joinWay">
            join_way = #{joinWay},
        </if>
        <if test="null != speakPermission">
            speak_permission = #{speakPermission},
        </if>
        <if test="null != joinQuestion">
            join_question = #{joinQuestion},
        </if>
        <if test="null != memberNum">
            member_num = #{memberNum},
        </if>
        <if test="null != latitude">
            latitude = #{latitude},
        </if>
        <if test="null != longitude">
            longitude = #{longitude},
        </if>
        <if test="null != cityId">
            city_id = #{cityId},
        </if>
        <if test="null != bizId">
            biz_id = #{bizId},
        </if>
        <if test="null != memberNumLimit">
            member_num_limit = #{memberNumLimit},
        </if>
        <if test="null != isDelete">
            is_delete = #{isDelete},
        </if>
        <if test="null != createUserId">
            create_user_id = #{createUserId},
        </if>
        <if test="null != createTime">
            create_time = #{createTime},
        </if>
        <if test="null != updateUserId">
            update_user_id = #{updateUserId},
        </if>
        update_time = now(),
        sys_version = sys_version + 1
        WHERE
        sys_version = #{sysVersion, jdbcType=INTEGER}
        AND id = #{id}
    </update>

    <delete id="delete">
        UPDATE group_info
        SET is_delete = 1
        <if test="@Ognl@isNotEmpty(updateAccount)">
            update_account = #{updateAccount} ,
        </if>
        <if test="@Ognl@isNotEmpty(updateName)">
            update_name = #{updateName} ,
        </if>
        update_time = now(),
        sys_version = sys_version + 1
        WHERE
        id IN
        <foreach collection="keys" item="keyTemp" open="(" separator="," close=")">
            #{keyTemp}
        </foreach>
    </delete>

    <delete id="deletePhysical">
        DELETE
        FROM group_info
        WHERE
        id = #{id}
    </delete>

    <select id="getByKey" resultType="GroupInfoDO">
        SELECT
        <include refid="columns"/>
        FROM group_info
        WHERE
        id = #{id}
    </select>

    <select id="getByKeys" resultType="GroupInfoDO">
        SELECT
        <include refid="columns"/>
        FROM group_info
        WHERE
        id IN
        <foreach collection="keys" item="keyTemp" open="(" separator="," close=")">
            #{keyTemp}
        </foreach>
    </select>

    <select id="listPage" resultType="GroupInfoDO">
        SELECT
        <include refid="columns"/>
        FROM group_info
        <include refid="listPage_where"/>
        <trim prefix="order by" prefixOverrides=",">
            <if test="@Ognl@isNotEmpty(sortList)">
                <foreach collection="sortList" item="sortTemp" separator=",">
                    ${sortTemp.fieldName} ${sortTemp.sortOrder}
                </foreach>
            </if>
        </trim>
        <if test="pagination != null">
            limit #{pagination.startRow}, #{pagination.pageSize}
        </if>
    </select>

    <select id="listPageLimitCount" resultType="int">
        SELECT COUNT(1)
        FROM
        ( SELECT count(1)
        FROM group_info
        <include refid="listPage_where"/>
        <if test="pagination != null">
            limit #{pagination.startRow}, #{pagination.limitPageSize}
        </if>
        ) AS tagTemp
    </select>


    <select id="listPageCount" resultType="int">
        SELECT count(1)
        FROM group_info
        <include refid="listPage_where"/>
    </select>

    <sql id="listPage_where">
        <where>
            <if test="id != null">
                AND id = #{id}
            </if>
            <if test="name != null">
                AND name = #{name}
            </if>
            <if test="introduction != null">
                AND introduction = #{introduction}
            </if>
            <if test="notice != null">
                AND notice = #{notice}
            </if>
            <if test="img != null">
                AND img = #{img}
            </if>
            <if test="originatorUserId != null">
                AND originator_user_id = #{originatorUserId}
            </if>
            <if test="type != null">
                AND type = #{type}
            </if>
            <if test="status != null">
                AND status = #{status}
            </if>
            <if test="joinWay != null">
                AND join_way = #{joinWay}
            </if>
            <if test="speakPermission != null">
                AND speak_permission = #{speakPermission}
            </if>
            <if test="joinQuestion != null">
                AND join_question = #{joinQuestion}
            </if>
            <if test="memberNum != null">
                AND member_num = #{memberNum}
            </if>
            <if test="latitude != null">
                AND latitude = #{latitude}
            </if>
            <if test="longitude != null">
                AND longitude = #{longitude}
            </if>
            <if test="cityId != null">
                AND city_id = #{cityId}
            </if>
            <if test="bizId != null">
                AND biz_id = #{bizId}
            </if>
            <if test="memberNumLimit != null">
                AND member_num_limit = #{memberNumLimit}
            </if>
            <if test="isDelete != null">
                AND is_delete = #{isDelete}
            </if>
            <if test="createUserId != null">
                AND create_user_id = #{createUserId}
            </if>

            <if test="updateUserId != null">
                AND update_user_id = #{updateUserId}
            </if>

            <if test="sysVersion != null">
                AND sys_version = #{sysVersion}
            </if>
        </where>
    </sql>

</mapper>