<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.community.dao.mapper.LikeMapper">

    <sql id="columns">
        id,user_id,type,biz_id,status,is_delete,create_user_id,create_time,update_user_id,update_time,sys_version
    </sql>

    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO like (
        user_id,
        type,
        biz_id,
        status,
        is_delete,
        create_user_id,
        create_time,
        update_user_id,
        update_time,
        sys_version
        ) VALUES (
        #{userId},
        #{type},
        #{bizId},
        #{status},
        0,
        #{createUserId},
        now(),
        #{updateUserId},
        now(),
        1
        )
    </insert>

    <insert id="insertSelective" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO like (
        <if test="@Ognl@isNotEmpty(userId)">
            user_id,
        </if>
        <if test="@Ognl@isNotEmpty(type)">
            type,
        </if>
        <if test="@Ognl@isNotEmpty(bizId)">
            biz_id,
        </if>
        <if test="@Ognl@isNotEmpty(status)">
            status,
        </if>
        is_delete,
        <if test="@Ognl@isNotEmpty(createUserId)">
            create_user_id,
        </if>
        create_time,
        <if test="@Ognl@isNotEmpty(updateUserId)">
            update_user_id,
        </if>
        <if test="@Ognl@isNotEmpty(updateTime)">
            update_time,
        </if>
        sys_version
        ) VALUES (
        <if test="@Ognl@isNotEmpty(userId)">
            #{userId},
        </if>
        <if test="@Ognl@isNotEmpty(type)">
            #{type},
        </if>
        <if test="@Ognl@isNotEmpty(bizId)">
            #{bizId},
        </if>
        <if test="@Ognl@isNotEmpty(status)">
            #{status},
        </if>
        0,
        <if test="@Ognl@isNotEmpty(createUserId)">
            #{createUserId},
        </if>
        now(),
        <if test="@Ognl@isNotEmpty(updateUserId)">
            #{updateUserId},
        </if>
        <if test="@Ognl@isNotEmpty(updateTime)">
            #{updateTime},
        </if>
        1
        )
    </insert>

    <update id="update">
        UPDATE like SET
        user_id = #{userId},
        type = #{type},
        biz_id = #{bizId},
        status = #{status},
        is_delete = #{isDelete},
        create_user_id = #{createUserId},
        create_time = #{createTime},
        update_user_id = #{updateUserId},
        update_time = now(),
        sys_version = sys_version + 1
        WHERE
        id = #{id}
    </update>


    <update id="updateSelective">
        UPDATE like SET
        <if test="null != userId">
            user_id = #{userId},
        </if>
        <if test="null != type">
            type = #{type},
        </if>
        <if test="null != bizId">
            biz_id = #{bizId},
        </if>
        <if test="null != status">
            status = #{status},
        </if>
        <if test="null != isDelete">
            is_delete = #{isDelete},
        </if>
        <if test="null != createUserId">
            create_user_id = #{createUserId},
        </if>
        <if test="null != createTime">
            create_time = #{createTime},
        </if>
        <if test="null != updateUserId">
            update_user_id = #{updateUserId},
        </if>
        update_time = now(),
        sys_version = sys_version + 1
        WHERE
        id = #{id}
    </update>

    <update id="updateByOptimisticLock">
        UPDATE like
        SET
        <if test="null != userId">
            user_id = #{userId},
        </if>
        <if test="null != type">
            type = #{type},
        </if>
        <if test="null != bizId">
            biz_id = #{bizId},
        </if>
        <if test="null != status">
            status = #{status},
        </if>
        <if test="null != isDelete">
            is_delete = #{isDelete},
        </if>
        <if test="null != createUserId">
            create_user_id = #{createUserId},
        </if>
        <if test="null != createTime">
            create_time = #{createTime},
        </if>
        <if test="null != updateUserId">
            update_user_id = #{updateUserId},
        </if>
        update_time = now(),
        sys_version = sys_version + 1
        WHERE
        sys_version = #{sysVersion, jdbcType=INTEGER}
        AND id = #{id}
    </update>

    <delete id="delete">
        UPDATE like
        SET is_delete = 1
        <if test="@Ognl@isNotEmpty(updateAccount)">
            update_account = #{updateAccount} ,
        </if>
        <if test="@Ognl@isNotEmpty(updateName)">
            update_name = #{updateName} ,
        </if>
        update_time = now(),
        sys_version = sys_version + 1
        WHERE
        id IN
        <foreach collection="keys" item="keyTemp" open="(" separator="," close=")">
            #{keyTemp}
        </foreach>
    </delete>

    <delete id="deletePhysical">
        DELETE
        FROM like
        WHERE
        id = #{id}
    </delete>

    <select id="getByKey" resultType="LikeDO">
        SELECT
        <include refid="columns"/>
        FROM like
        WHERE
        id = #{id}
    </select>

    <select id="getByKeys" resultType="LikeDO">
        SELECT
        <include refid="columns"/>
        FROM like
        WHERE
        id IN
        <foreach collection="keys" item="keyTemp" open="(" separator="," close=")">
            #{keyTemp}
        </foreach>
    </select>

    <select id="listPage" resultType="LikeDO">
        SELECT
        <include refid="columns"/>
        FROM like
        <include refid="listPage_where"/>
        <trim prefix="order by" prefixOverrides=",">
            <if test="@Ognl@isNotEmpty(sortList)">
                <foreach collection="sortList" item="sortTemp" separator=",">
                    ${sortTemp.fieldName} ${sortTemp.sortOrder}
                </foreach>
            </if>
        </trim>
        <if test="pagination != null">
            limit #{pagination.startRow}, #{pagination.pageSize}
        </if>
    </select>

    <select id="listPageLimitCount" resultType="int">
        SELECT COUNT(1)
        FROM
        ( SELECT count(1)
        FROM like
        <include refid="listPage_where"/>
        <if test="pagination != null">
            limit #{pagination.startRow}, #{pagination.limitPageSize}
        </if>
        ) AS tagTemp
    </select>


    <select id="listPageCount" resultType="int">
        SELECT count(1)
        FROM like
        <include refid="listPage_where"/>
    </select>

    <sql id="listPage_where">
        <where>
            <if test="id != null">
                AND id = #{id}
            </if>
            <if test="userId != null">
                AND user_id = #{userId}
            </if>
            <if test="type != null">
                AND type = #{type}
            </if>
            <if test="bizId != null">
                AND biz_id = #{bizId}
            </if>
            <if test="status != null">
                AND status = #{status}
            </if>
            <if test="isDelete != null">
                AND is_delete = #{isDelete}
            </if>
            <if test="createUserId != null">
                AND create_user_id = #{createUserId}
            </if>

            <if test="updateUserId != null">
                AND update_user_id = #{updateUserId}
            </if>

            <if test="sysVersion != null">
                AND sys_version = #{sysVersion}
            </if>
        </where>
    </sql>

    <select id="getByBizIdUserIdAndType" resultMap="LikeDO">
        SELECT
        <include refid="columns"/>
        FROM like
        WHERE
        is_delete = 0
        <choose>
            <when test="bizId != null">
                AND biz_id = #{bizId}
            </when>
            <otherwise>
                AND biz_id IN
                <foreach collection="bizIdSet" item="bizIdTemp" open="(" separator="," close=")">
                    #{bizIdTemp}
                </foreach>
            </otherwise>
        </choose>
        <if test="type != null">
            AND type = #{type}
        </if>
        <if test="userId != null">
            AND user_id = #{userId}
        </if>
        <if test="status != null">
            AND status = #{status}
        </if>
    </select>

</mapper>