<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.community.dao.mapper.MessageSystemDetailMapper">

    <sql id="columns">
        id,msg_sys_id,sender_user_id,receiver_user_id,status,send_time,receive_time,msg_type,type,biz_id,is_delete,create_user_id,create_time,update_user_id,update_time,sys_version
    </sql>

    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO message_system_detail (
        msg_sys_id,
        sender_user_id,
        receiver_user_id,
        status,
        send_time,
        receive_time,
        msg_type,
        type,
        biz_id,
        is_delete,
        create_user_id,
        create_time,
        update_user_id,
        update_time,
        sys_version
        ) VALUES (
        #{msgSysId},
        #{senderUserId},
        #{receiverUserId},
        #{status},
        #{sendTime},
        #{receiveTime},
        #{msgType},
        #{type},
        #{bizId},
        0,
        #{createUserId},
        now(),
        #{updateUserId},
        now(),
        1
        )
    </insert>

    <insert id="insertSelective" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO message_system_detail (
        <if test="@Ognl@isNotEmpty(msgSysId)">
            msg_sys_id,
        </if>
        <if test="@Ognl@isNotEmpty(senderUserId)">
            sender_user_id,
        </if>
        <if test="@Ognl@isNotEmpty(receiverUserId)">
            receiver_user_id,
        </if>
        <if test="@Ognl@isNotEmpty(status)">
            status,
        </if>
        <if test="@Ognl@isNotEmpty(sendTime)">
            send_time,
        </if>
        <if test="@Ognl@isNotEmpty(receiveTime)">
            receive_time,
        </if>
        <if test="@Ognl@isNotEmpty(msgType)">
            msg_type,
        </if>
        <if test="@Ognl@isNotEmpty(type)">
            type,
        </if>
        <if test="@Ognl@isNotEmpty(bizId)">
            biz_id,
        </if>
        is_delete,
        <if test="@Ognl@isNotEmpty(createUserId)">
            create_user_id,
        </if>
        create_time,
        <if test="@Ognl@isNotEmpty(updateUserId)">
            update_user_id,
        </if>
        <if test="@Ognl@isNotEmpty(updateTime)">
            update_time,
        </if>
        sys_version
        ) VALUES (
        <if test="@Ognl@isNotEmpty(msgSysId)">
            #{msgSysId},
        </if>
        <if test="@Ognl@isNotEmpty(senderUserId)">
            #{senderUserId},
        </if>
        <if test="@Ognl@isNotEmpty(receiverUserId)">
            #{receiverUserId},
        </if>
        <if test="@Ognl@isNotEmpty(status)">
            #{status},
        </if>
        <if test="@Ognl@isNotEmpty(sendTime)">
            #{sendTime},
        </if>
        <if test="@Ognl@isNotEmpty(receiveTime)">
            #{receiveTime},
        </if>
        <if test="@Ognl@isNotEmpty(msgType)">
            #{msgType},
        </if>
        <if test="@Ognl@isNotEmpty(type)">
            #{type},
        </if>
        <if test="@Ognl@isNotEmpty(bizId)">
            #{bizId},
        </if>
        0,
        <if test="@Ognl@isNotEmpty(createUserId)">
            #{createUserId},
        </if>
        now(),
        <if test="@Ognl@isNotEmpty(updateUserId)">
            #{updateUserId},
        </if>
        <if test="@Ognl@isNotEmpty(updateTime)">
            #{updateTime},
        </if>
        1
        )
    </insert>

    <update id="update">
        UPDATE message_system_detail SET
        msg_sys_id = #{msgSysId},
        sender_user_id = #{senderUserId},
        receiver_user_id = #{receiverUserId},
        status = #{status},
        send_time = #{sendTime},
        receive_time = #{receiveTime},
        msg_type = #{msgType},
        type = #{type},
        biz_id = #{bizId},
        is_delete = #{isDelete},
        create_user_id = #{createUserId},
        create_time = #{createTime},
        update_user_id = #{updateUserId},
        update_time = now(),
        sys_version = sys_version + 1
        WHERE
        id = #{id}
    </update>


    <update id="updateSelective">
        UPDATE message_system_detail SET
        <if test="null != msgSysId">
            msg_sys_id = #{msgSysId},
        </if>
        <if test="null != senderUserId">
            sender_user_id = #{senderUserId},
        </if>
        <if test="null != receiverUserId">
            receiver_user_id = #{receiverUserId},
        </if>
        <if test="null != status">
            status = #{status},
        </if>
        <if test="null != sendTime">
            send_time = #{sendTime},
        </if>
        <if test="null != receiveTime">
            receive_time = #{receiveTime},
        </if>
        <if test="null != msgType">
            msg_type = #{msgType},
        </if>
        <if test="null != type">
            type = #{type},
        </if>
        <if test="null != bizId">
            biz_id = #{bizId},
        </if>
        <if test="null != isDelete">
            is_delete = #{isDelete},
        </if>
        <if test="null != createUserId">
            create_user_id = #{createUserId},
        </if>
        <if test="null != createTime">
            create_time = #{createTime},
        </if>
        <if test="null != updateUserId">
            update_user_id = #{updateUserId},
        </if>
        update_time = now(),
        sys_version = sys_version + 1
        WHERE
        id = #{id}
    </update>

    <update id="updateByOptimisticLock">
        UPDATE message_system_detail
        SET
        <if test="null != msgSysId">
            msg_sys_id = #{msgSysId},
        </if>
        <if test="null != senderUserId">
            sender_user_id = #{senderUserId},
        </if>
        <if test="null != receiverUserId">
            receiver_user_id = #{receiverUserId},
        </if>
        <if test="null != status">
            status = #{status},
        </if>
        <if test="null != sendTime">
            send_time = #{sendTime},
        </if>
        <if test="null != receiveTime">
            receive_time = #{receiveTime},
        </if>
        <if test="null != msgType">
            msg_type = #{msgType},
        </if>
        <if test="null != type">
            type = #{type},
        </if>
        <if test="null != bizId">
            biz_id = #{bizId},
        </if>
        <if test="null != isDelete">
            is_delete = #{isDelete},
        </if>
        <if test="null != createUserId">
            create_user_id = #{createUserId},
        </if>
        <if test="null != createTime">
            create_time = #{createTime},
        </if>
        <if test="null != updateUserId">
            update_user_id = #{updateUserId},
        </if>
        update_time = now(),
        sys_version = sys_version + 1
        WHERE
        sys_version = #{sysVersion, jdbcType=INTEGER}
        AND id = #{id}
    </update>

    <delete id="delete">
        UPDATE message_system_detail
        SET is_delete = 1
        <if test="@Ognl@isNotEmpty(updateAccount)">
            update_account = #{updateAccount} ,
        </if>
        <if test="@Ognl@isNotEmpty(updateName)">
            update_name = #{updateName} ,
        </if>
        update_time = now(),
        sys_version = sys_version + 1
        WHERE
        id IN
        <foreach collection="keys" item="keyTemp" open="(" separator="," close=")">
            #{keyTemp}
        </foreach>
    </delete>

    <delete id="deletePhysical">
        DELETE
        FROM message_system_detail
        WHERE
        id = #{id}
    </delete>

    <select id="getByKey" resultType="MessageSystemDetailDO">
        SELECT
        <include refid="columns"/>
        FROM message_system_detail
        WHERE
        id = #{id}
    </select>

    <select id="getByKeys" resultType="MessageSystemDetailDO">
        SELECT
        <include refid="columns"/>
        FROM message_system_detail
        WHERE
        id IN
        <foreach collection="keys" item="keyTemp" open="(" separator="," close=")">
            #{keyTemp}
        </foreach>
    </select>

    <select id="listPage" resultType="MessageSystemDetailDO">
        SELECT
        <include refid="columns"/>
        FROM message_system_detail
        <include refid="listPage_where"/>
        <trim prefix="order by" prefixOverrides=",">
            <if test="@Ognl@isNotEmpty(sortList)">
                <foreach collection="sortList" item="sortTemp" separator=",">
                    ${sortTemp.fieldName} ${sortTemp.sortOrder}
                </foreach>
            </if>
        </trim>
        <if test="pagination != null">
            limit #{pagination.startRow}, #{pagination.pageSize}
        </if>
    </select>

    <select id="listPageLimitCount" resultType="int">
        SELECT COUNT(1)
        FROM
        ( SELECT count(1)
        FROM message_system_detail
        <include refid="listPage_where"/>
        <if test="pagination != null">
            limit #{pagination.startRow}, #{pagination.limitPageSize}
        </if>
        ) AS tagTemp
    </select>


    <select id="listPageCount" resultType="int">
        SELECT count(1)
        FROM message_system_detail
        <include refid="listPage_where"/>
    </select>

    <sql id="listPage_where">
        <where>
            <if test="id != null">
                AND id = #{id}
            </if>
            <if test="msgSysId != null">
                AND msg_sys_id = #{msgSysId}
            </if>
            <if test="senderUserId != null">
                AND sender_user_id = #{senderUserId}
            </if>
            <if test="receiverUserId != null">
                AND receiver_user_id = #{receiverUserId}
            </if>
            <if test="status != null">
                AND status = #{status}
            </if>


            <if test="msgType != null">
                AND msg_type = #{msgType}
            </if>
            <if test="type != null">
                AND type = #{type}
            </if>
            <if test="bizId != null">
                AND biz_id = #{bizId}
            </if>
            <if test="isDelete != null">
                AND is_delete = #{isDelete}
            </if>
            <if test="createUserId != null">
                AND create_user_id = #{createUserId}
            </if>

            <if test="updateUserId != null">
                AND update_user_id = #{updateUserId}
            </if>

            <if test="sysVersion != null">
                AND sys_version = #{sysVersion}
            </if>
        </where>
    </sql>

</mapper>