<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.community.dao.mapper.UserInfoMapper">

    <sql id="columns">
        id,nickName,avatar,email,introduction,last_login_time,login_ip,follower_num,me_follow_num,is_delete,create_user_id,create_time,update_user_id,update_time,sys_version
    </sql>

    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO user_info (
            nickName,
            avatar,
            email,
            introduction,
            last_login_time,
            login_ip,
            follower_num,
            me_follow_num,
            is_delete,
            create_user_id,
            create_time,
            update_user_id,
            update_time,
            sys_version
        ) VALUES (
            #{nickName},
            #{avatar},
            #{email},
            #{introduction},
            #{lastLoginTime},
            #{loginIp},
            #{followerNum},
            #{meFollowNum},
            0,
            #{createUserId},
            now(),
            #{updateUserId},
            now(),
            1
        )
    </insert>

    <insert id="insertSelective" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO user_info (
        <if test="@Ognl@isNotEmpty(nickName)">
            nickName,
        </if>
        <if test="@Ognl@isNotEmpty(avatar)">
            avatar,
        </if>
        <if test="@Ognl@isNotEmpty(email)">
            email,
        </if>
        <if test="@Ognl@isNotEmpty(introduction)">
            introduction,
        </if>
        <if test="@Ognl@isNotEmpty(lastLoginTime)">
            last_login_time,
        </if>
        <if test="@Ognl@isNotEmpty(loginIp)">
            login_ip,
        </if>
        <if test="@Ognl@isNotEmpty(followerNum)">
            follower_num,
        </if>
        <if test="@Ognl@isNotEmpty(meFollowNum)">
            me_follow_num,
        </if>
        is_delete,
        <if test="@Ognl@isNotEmpty(createUserId)">
            create_user_id,
        </if>
        create_time,
        <if test="@Ognl@isNotEmpty(updateUserId)">
            update_user_id,
        </if>
        <if test="@Ognl@isNotEmpty(updateTime)">
            update_time,
        </if>
        sys_version
        ) VALUES (
        <if test="@Ognl@isNotEmpty(nickName)">
            #{nickName},
        </if>
        <if test="@Ognl@isNotEmpty(avatar)">
            #{avatar},
        </if>
        <if test="@Ognl@isNotEmpty(email)">
            #{email},
        </if>
        <if test="@Ognl@isNotEmpty(introduction)">
            #{introduction},
        </if>
        <if test="@Ognl@isNotEmpty(lastLoginTime)">
            #{lastLoginTime},
        </if>
        <if test="@Ognl@isNotEmpty(loginIp)">
            #{loginIp},
        </if>
        <if test="@Ognl@isNotEmpty(followerNum)">
            #{followerNum},
        </if>
        <if test="@Ognl@isNotEmpty(meFollowNum)">
            #{meFollowNum},
        </if>
        0,
        <if test="@Ognl@isNotEmpty(createUserId)">
            #{createUserId},
        </if>
        now(),
        <if test="@Ognl@isNotEmpty(updateUserId)">
            #{updateUserId},
        </if>
        <if test="@Ognl@isNotEmpty(updateTime)">
            #{updateTime},
        </if>
        1
        )
    </insert>

    <update id="update">
            UPDATE user_info SET
                    nickName = #{nickName},
                    avatar = #{avatar},
                    email = #{email},
                    introduction = #{introduction},
                    last_login_time = #{lastLoginTime},
                    login_ip = #{loginIp},
                    follower_num = #{followerNum},
                    me_follow_num = #{meFollowNum},
                    is_delete = #{isDelete},
                    create_user_id = #{createUserId},
                    create_time = #{createTime},
                    update_user_id = #{updateUserId},
                    update_time = now(),
                    sys_version = sys_version + 1
                    WHERE
                    id = #{id} 
        </update>


    <update id="updateSelective">
        UPDATE user_info SET
        <if test="null != nickName">
            nickName = #{nickName},
        </if>
        <if test="null != avatar">
            avatar = #{avatar},
        </if>
        <if test="null != email">
            email = #{email},
        </if>
        <if test="null != introduction">
            introduction = #{introduction},
        </if>
        <if test="null != lastLoginTime">
            last_login_time = #{lastLoginTime},
        </if>
        <if test="null != loginIp">
            login_ip = #{loginIp},
        </if>
        <if test="null != followerNum">
            follower_num = #{followerNum},
        </if>
        <if test="null != meFollowNum">
            me_follow_num = #{meFollowNum},
        </if>
        <if test="null != isDelete">
            is_delete = #{isDelete},
        </if>
        <if test="null != createUserId">
            create_user_id = #{createUserId},
        </if>
        <if test="null != createTime">
            create_time = #{createTime},
        </if>
        <if test="null != updateUserId">
            update_user_id = #{updateUserId},
        </if>
        update_time = now(),
        sys_version = sys_version + 1
        WHERE
        id = #{id}
    </update>

    <update id="updateByOptimisticLock">
        UPDATE user_info
        SET
        <if test="null != nickName">
            nickName = #{nickName},
        </if>
        <if test="null != avatar">
            avatar = #{avatar},
        </if>
        <if test="null != email">
            email = #{email},
        </if>
        <if test="null != introduction">
            introduction = #{introduction},
        </if>
        <if test="null != lastLoginTime">
            last_login_time = #{lastLoginTime},
        </if>
        <if test="null != loginIp">
            login_ip = #{loginIp},
        </if>
        <if test="null != followerNum">
            follower_num = #{followerNum},
        </if>
        <if test="null != meFollowNum">
            me_follow_num = #{meFollowNum},
        </if>
        <if test="null != isDelete">
            is_delete = #{isDelete},
        </if>
        <if test="null != createUserId">
            create_user_id = #{createUserId},
        </if>
        <if test="null != createTime">
            create_time = #{createTime},
        </if>
        <if test="null != updateUserId">
            update_user_id = #{updateUserId},
        </if>
        update_time = now(),
        sys_version = sys_version + 1
        WHERE
        sys_version = #{sysVersion, jdbcType=INTEGER}
        AND id = #{id}
    </update>

    <delete id="delete">
        UPDATE user_info
        SET is_delete = 1
        <if test="@Ognl@isNotEmpty(updateAccount)">
            update_account = #{updateAccount} ,
        </if>
        <if test="@Ognl@isNotEmpty(updateName)">
            update_name = #{updateName} ,
        </if>
        update_time = now(),
        sys_version = sys_version + 1
        WHERE
        id IN
        <foreach collection="keys" item="keyTemp" open="(" separator="," close=")">
            #{keyTemp}
        </foreach>
    </delete>

    <delete id="deletePhysical">
        DELETE
        FROM user_info
        WHERE
            id = #{id} 
    </delete>

    <select id="getByKey" resultType="UserInfoDO">
        SELECT
        <include refid="columns"/>
        FROM user_info
        WHERE
        id = #{id}
    </select>

    <select id="getByKeys" resultType="UserInfoDO">
        SELECT
        <include refid="columns"/>
        FROM user_info
        WHERE
        id IN
        <foreach collection="keys" item="keyTemp" open="(" separator="," close=")">
            #{keyTemp}
        </foreach>
    </select>

    <select id="listPage" resultType="UserInfoDO">
        SELECT
        <include refid="columns"/>
        FROM user_info
        <include refid="listPage_where"/>
        <trim prefix="order by" prefixOverrides=",">
            <if test="@Ognl@isNotEmpty(sortList)">
                <foreach collection="sortList" item="sortTemp" separator=",">
                    ${sortTemp.fieldName} ${sortTemp.sortOrder}
                </foreach>
            </if>
        </trim>
        <if test="pagination != null">
            limit #{pagination.startRow}, #{pagination.pageSize}
        </if>
    </select>

    <select id="listPageLimitCount" resultType="int">
        SELECT COUNT(1)
        FROM
        ( SELECT count(1)
        FROM user_info
        <include refid="listPage_where"/>
        <if test="pagination != null">
            limit #{pagination.startRow}, #{pagination.limitPageSize}
        </if>
        ) AS tagTemp
    </select>


    <select id="listPageCount" resultType="int">
        SELECT count(1)
        FROM user_info
        <include refid="listPage_where"/>
    </select>

    <sql id="listPage_where">
        <where>
            <if test="id != null">
                AND id = #{id}
            </if>
            <if test="nickName != null">
                AND nickName = #{nickName}
            </if>
            <if test="avatar != null">
                AND avatar = #{avatar}
            </if>
            <if test="email != null">
                AND email = #{email}
            </if>
            <if test="introduction != null">
                AND introduction = #{introduction}
            </if>

            <if test="loginIp != null">
                AND login_ip = #{loginIp}
            </if>
            <if test="followerNum != null">
                AND follower_num = #{followerNum}
            </if>
            <if test="meFollowNum != null">
                AND me_follow_num = #{meFollowNum}
            </if>
            <if test="isDelete != null">
                AND is_delete = #{isDelete}
            </if>
            <if test="createUserId != null">
                AND create_user_id = #{createUserId}
            </if>

            <if test="updateUserId != null">
                AND update_user_id = #{updateUserId}
            </if>

            <if test="sysVersion != null">
                AND sys_version = #{sysVersion}
            </if>
        </where>
    </sql>

</mapper>