<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
    <properties>
        <property name="dialect" value="mysql"/>
    </properties>

    <settings>
        <!-- changes from the defaults -->
        <setting name="lazyLoadingEnabled" value="false"/>
        <setting name="cacheEnabled" value="false"/>
        <setting name="localCacheScope" value="STATEMENT"/>
        <setting name="mapUnderscoreToCamelCase" value="true"/>
        <setting name="useGeneratedKeys" value="true"/>
    </settings>

    <typeAliases>
        <!--Model-->
    </typeAliases>

    <typeHandlers>
        <!--<typeHandler handler="com.community.common.db.mybatis.typehandler.ObjectJsonTypeHandler"/>-->
        <typeHandler handler="com.community.common.db.mybatis.typehandler.ContentBOArrayTypeHandler"/>
    </typeHandlers>

    <plugins>
        <plugin interceptor="com.community.common.db.mybatis.interceptor.PageExecutorInterceptor"/>
    </plugins>

</configuration>
